*{
    text-align: center;
}

.btn{
    height:100px;
    width: 100px;
    border-radius: 10%;
    border: 3px solid black;
    margin: 1rem;
}

.line-one{
    display: flex;
    text-align: center;
    justify-content: center;
}

.line-two{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(190, 86, 86);
}

.green{
    background-color: rgb(102, 232, 102);
}

.purple{
    background-color: rgb(176, 54, 176);
}
.yellow{
    background-color: rgb(198, 198, 62);
}
.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}